.header {
    display: flex;
}
body {
    background-color: black;
    display: flex;
    flex-direction: column;
}

h3, li {
    color: aliceblue;
}

a {
    text-decoration: dotted;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

li, h3 {
    font-family: 'Courier New', Courier, monospace;
}

.header img {
    margin-right: auto;
    margin-left: auto;
    align-self: center;
    max-height: 150px;
}

.header button {
    flex-basis: 50px;
    background-color: black;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
}

.nav-bar ul, .footer ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.nav-bar ul li a {
    text-decoration: none;
}

.show-info {
    display: flex;
    flex-direction: column;
}

.show-info .loc-card, .show-info .prev-shows-card {
    display: flex;
    justify-content: center;
}

.footer {
    margin-top: auto;
    margin-bottom: -10px;
    padding-bottom: -10px;
}



