.header {
    display: flex;
}
body {
    background-color: black;
}

h3, li {
    color: aliceblue;
}

a {
    text-decoration: none;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}

li, h3 {
    font-family: 'Courier New', Courier, monospace;
}

.header img {
    margin-right: auto;
    margin-left: auto;
    align-self: center;
    max-height: 150px;
}

.header button {
    flex-basis: 100px;
    background-color: black;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
}